:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196F3;
    --main-br-btn-color: #188CE8;
    --primary-br-btn-color: #F5F4FA;
    --main-wite-color:#FFFFFF;
    --contact-color: rgba(255, 255, 255, 0.6);
}
body {
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
    font-size: 14px;
    line-height: 1.171;
}

.list {
    list-style: none;
}
address {
    font-style: normal;
}
button {
    font-family: inherit;
}
/* -------------------------top line------------------------------------------- */
.logo {
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--title-text-color);
    letter-spacing: 0.03em;
}
.web {
    color: var(--accent-color);
}
.link {
    text-decoration: none;
    font-family: inherit;
}
/* -------------------------header------------------------------------------- */
.menu-nav .link{
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.menu-nav .link:hover, .menu-nav .link:focus {
    color: var(--accent-color);
}
.contact {
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.contact .link:hover, .contact .link:focus {
    color: var(--accent-color);
}
/* -------------------------------------------hero----------------------------------------------- */
.hero {
    background-color: #2F303A;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--main-wite-color);
    }
    .main-button{
        color: var(--main-wite-color);
        background-color: var(--main-br-btn-color);
        font-weight: 700;
        font-size: 16px;
        line-height: 1.87;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: 0.06em;
    }
/* -------------------------------------------features----------------------------------------------- */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}

.feature-title {
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color)
}
/* -------------------------------------------our team----------------------------------------------- */
.image-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.image-definition {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}
/* -------------------------------------------footer----------------------------------------------- */
footer {
    background: #2F303A;
}
.footer-contact .link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contact-color)
    }
.footer-contact .link:hover, .footer-contact .link:focus {
    color: var(--accent-color);
}
.contact-adress {
    color: var(--main-wite-color);
    text-decoration: none;
    line-height: 1.71;
    letter-spacing: 0.03em;
    }

.contact-adress:hover, .contact-adress:focus {
    color: var(--accent-color);
}

.footer-logo {
    color: var(--main-wite-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
/* -------------------------------------------portfolio----------------------------------------------- */
.primary-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background: var(--primary-br-btn-color);
}

.primary-button:hover, .primary-button:focus {
    color: var(--main-wite-color);
    background: var(--main-br-btn-color);
    }
